.fof__background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://9gag.com/s/fab0aa49/daedfa6a3e648ae27de3c86a3c4e5a39e698bcf9/static/dist/web/img/404/bg.gif) 50% no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: .5;
}
.fof__fof{
  font-size: 144px;
  font-weight: 100;
  margin-bottom: 16px;
  color: white;
  margin-left: 35vw;
}
.fof__not{
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 32px;
  color: white;
  margin-left: 30vw;
}
.wrapperLink{
  display: flex;
  justify-content: space-around;
}
.header_registration{
  text-align: center;
  padding-top: 15px;
}